*{
    margin: 0;
    padding: 0;
}

.head{
    padding: 0 25px;
    background-color: #E2D2F9;
    height: inherit;
}

/* heading */
.close{
    position: absolute;
    top: 30px;
    right: 40px;
}
.fa-square-xmark{
    color:#03192f;
}

.heading .sub {
    font-family: sans-serif;
    text-transform: uppercase;
    display: block;
}

.heading {
    text-align: center;
    width: 100%;
}

.sub {
    font-size: 60px;
    font-weight: 700;
    color: #c90f5d;
    letter-spacing: 8px;
    margin-bottom: 20px;
    background: #d6d7f1;
    animation: text 3s 1;
}

@keyframes text {
    0%{
        color: #03192f;
        /* margin-bottom: 20px; */
    }

    30%{
        letter-spacing: 25px;
        /* margin-bottom: 20px; */
    }

    85%{
        letter-spacing: 8px;
        /* margin-bottom: 20px; */
    }
}

/* LINE */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    margin-bottom: 30px;
}

.line {
    width: 24%;
}

.icon-container {
    margin: 0 25px;
}

.icon-container i {
  font-size: 25px;
  color: #c90f5d;
}

/* Main Contain */
.about{
    margin: 0 auto;
    width: 75%;
    border: 1px solid black;
    padding: 2% 5%;
    text-align: justify;
    background-color: #03192f;
}

.mainCon{
    margin: 10px 0;
}

.info{
    display: inline-block;
    font-size: 19px;
    color: #c90f5d;
    padding: 0 8px;
}

.fa-user{
   font-size: 18.4px;
   color: #c90f5d;
}

.para{
    width: 100%;
    font-size: 16px;
    line-height: 28px;
    color: #E2D2F9;
    font-family: 'Lato', sans-serif;
}

/*  */
#main {
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: space-around;
}
  
#main div {
    width: 50%;
    display: inline-block;
    padding: 20px 0;
    font-size: 16px;
    font-family: 'Lato', sans-serif;

}

#main >div >p >b{
    color: #E2D2F9;
    letter-spacing: 2px;
}

span{
    color:#E2D2F9;
    letter-spacing: 1px;

}

/* button */

.button-container {
    display: flex;
    align-items: center;
}

.dr {
    padding: 13px 60px;
    background-color: #c90f5d;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
    margin-right: 30px;
}

.fa-file{
    padding: 0 5px;
}

.fa-pen-to-square{
    padding: 0 5px;
}

.MyBlog {
    --color: #c90f5d;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 12px 30px;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1.5px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
   }


   .fa-paper-plane{
    padding: 0 10px ;
   }
   
   .MyBlog::before, .MyBlog::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .MyBlog::before {
    top: -1em;
    left: -1em;
   }
   
   .MyBlog::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .MyBlog:hover::before, .MyBlog:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .MyBlog:hover {
    color: white;
   }
   
   .MyBlog:active {
    filter: brightness(.8);
   }

   .bigLine{
    width: 100%;
    color: #656c6d;
    margin: 5% 0;
}
.btm{
  margin-bottom: 0;
}

/* Skill */
.skill{
    width: 100%;
    height: inherit;
    margin: 0 auto;
    width: 75%;
    border: 1px solid black;
    padding: 2% 5%;
    text-align: justify;
    background-color: #03192f;
}

.skill-container {
  width: 90%;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  top: 15px;
  background-color: #ffffff;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}
.tabs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
h3 {
  background-color: #E2D2F9;
  text-align: center;
  padding: 15px 0;
  cursor: pointer;
  font-weight: 600;
  font-family: 'Croissant One', serif;
}
.tab-content {
  background-color: #ffffff;
  padding: 30px;
  height: inherit;
  margin-bottom: 20px;
}
.tab-content div {
  display: none;
}
.tab-content .active {
  display: block;
}
.tabs .active {
  background-color: #c90f5d;
  color: white;
}

/* skill inside detail */
.box{
  width: 100%;
  padding: 15px 20px;
}

@keyframes load{
  from {
    width: 0%
  }
}
@-webkit-keyframes load{
  from {
    width: 0%
  }
}
@-moz-keyframes load{
  from {
    width: 0%
  }
}
@-o-keyframes load{
  from {
    width: 0%
  }
}

.bar{
  background-color: #03192f;
  padding: 5px;
  border-radius: 15px;
  margin-bottom: 25px;
  font-size: 18px;
  color: #E2D2F9;
  font-weight: bold;
 }
.bar::before{
  content:  attr(data-skill);
  background-color: #c90f5d;
  box-shadow: 0 0 5px #03192f,
  0 0 5px white,
  0 0 5px white,
  0 0 5px white; 
  display: inline-block;
  padding: 5px 0 5px 10px;
  margin: 0 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.bar.html::before{
  width: calc(90% - 10%);
}
.bar.css::before{
  width: calc(95% - 5%);
}
.bar.bootstrap::before{
  width: calc(80% - 20px);
}
.bar.js::before{
  width: calc(70% - 10px);
}
.bar.react::before{
  width: calc(40% - 10px);
}

.eduBox{
  width: 90%;
  text-align: justify;
  padding: 0 20px;
}
.eduBox >h4{
  color: #03192f;
  font-family: 'Tilt Neon', sans-serif;
}
.eduBox >span{
  color: #a7aaaa;
  vertical-align: middle;
}
.eduBox >i{
  color: #a7aaaa;
  vertical-align: middle;
  padding: 0 6px;
}
.eduBox >p{
  font-size: 16px;
  color: black;
}

/* Services */
 .serve {
    /* height: 100vh; */  
    background-color: #03192f;
    margin: 0 auto;
    width: 81%;
    padding: 2% 5%;
    display: grid;
    place-items: center;
  }

  .section-heading{
    width: 100%;
    font-size: 40px;
    padding-bottom: 15%;
    color: #c90f5d;
    font-family: 'Croissant One', cursive;

  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .column {
    width: 100%;
    padding: 0 1em 1em 1em;
    text-align: center;
  }
  .card {
    width: 100%;
    height: 100%;
    padding: 2em 1.5em;
    background: linear-gradient(#ffffff 50%, #c90f5d 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
  }
  h4 {
    font-size: 20px;
    font-weight: 600;
    color: #1f194c;
    margin: 1em 0;
  font-family: 'Tilt Neon', sans-serif;
  }
  p {
    color: #575a7b;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.03em;
  }
  .icon-wrapper {
    background-color: #c90f5d;
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
  }
  .card:hover {
    background-position: 0 100%;
  }
  .card:hover .icon-wrapper {
    background-color: #ffffff;
    color:  #03192f;
  }
  .card:hover h3 {
    color: #ffffff;
  }
  .card:hover p {
    color: #f0f0f0;
  }
  @media screen and (min-width: 768px) {
    section {
      padding: 0 2em;
    }
    .column {
      flex: 0 50%;
      max-width: 50%;
    }
  }
  @media screen and (min-width: 992px) {
    section {
      padding: 1em 3em;
    }
    .column {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
  }