/* Heading */
@media screen and (max-width: 400px) {
    .h1 {
        font-size: 40px;
    }
}

/* LINE */
@media screen and (max-width: 450px) {
    .container {
        flex-direction: column;
    }

    .icon-container {
        margin: 10px 0;
    }
}

/* Button */
@media (max-width: 768px) {
    .button-container {
        flex-direction: column; 
        width: 100%;
    }

    .button{
        width: 100%;
        margin: 10px 0;
    }
}

/* about>btn */

@media (max-width: 850px){
    .bttnn{
        width: 100%;
    }
    .dr{
        width: 100%;
        display: block;

        margin: 0 auto;
    }
    .MyBlog{
        flex-direction: row; 
        display: block;
        margin: 10% auto;
        width: 100%;
    }
    .bttnn >a{
        text-decoration: none;
    }
}
/* Work */
